<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" bootstrap="vendor/autoload.php" backupGlobals="false" backupStaticAttributes="false" colors="true" verbose="false" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" stopOnError="false" stderr="true">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Unit test for queue">
      <directory suffix="Test.php">tests/Unit</directory>
    </testsuite>
    <testsuite name="Functional test for queue">
      <directory suffix="Test.php">tests/Functional</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="AMQP_DSN" value="amqp+rabbitmq+ext://guest:guest@php-microservice-rabbitmq-test:5672/test"/>
  </php>
</phpunit>
